@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>亿淘app</title>
    <link type="text/css" href="~/style/unify.css" rel="stylesheet" />
    <link type="text/css" href="~/style/user-base.css" rel="stylesheet" />
</head>

<body>
    <div id="warp">
        <div id="search">
            <form role="form" action="SetPassWord">
                <input name="password" class="log_button01" type="text" value="原密码" onfocus="if(this.value==defaultValue) {this.value='';this.type='password'}" onblur="if(!value) {value=defaultValue; this.type='text';}" />
                <input name="newpassword" class="log_button01" type="text" value="新密码" onfocus="if(this.value==defaultValue) {this.value='';this.type='password'}" onblur="if(!value) {value=defaultValue; this.type='text';}" />
                <input name="checkpassword" class="log_button01" type="text" value="确认新密码" onfocus="if(this.value==defaultValue) {this.value='';this.type='password'}" onblur="if(!value) {value=defaultValue; this.type='text';}" />
                <input class="log_button02" type="submit" value="更改密码" />
            </form>
        </div>
    </div>
</body>
</html>