@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>个人信息</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="~/css/common.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div class="warp">
        <!------------------	Header ------------------------------>
        <div class="header">
            <a href="javascript:history.go(-1)">
                <img src="/img/buttons/09.png" class="header_left_pic">
            </a>
            <h2 class="pagetitle" style="margin-top:0.2em;">更改密码</h2>
            @*<img src="/img/title/08.png" class="pagetitle">*@
            <div id="clear"></div>
        </div>
        <div id="blank" style="height:50px;"></div><!--Blank area -->
        <br />
        <div class="container">
            <div class="row">
                <form role="form" action="SetPassWord">
                    <div class="form-group">
                        <label for="exampleInputEmail1">旧密码</label>
                        <input type="password" class="form-control" name="password" id="exampleInputEmail1" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">新密码</label>
                        <input type="password" class="form-control" name="newpassword" id="exampleInputPassword1" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">确认密码</label>

                        <input type="password" class="form-control" name="checkpassword" id="exampleInputPassword1" placeholder="">
                        @Html.ValidationMessage("error", new { @class = "help-block" })
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg btn-block">更改密码</button>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/js/jquery.js"></script>
    <script type="text/javascript" src="~/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="~/js/common.js"></script>
</body>
</html>
