<!doctype html>
<html>
<head>
    @using YiTao.Modules.Bll.Models
    @model List<ShangPin>
    <meta charset="utf-8">
    <title>商品列表</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="/css/common.css" rel="stylesheet">
</head>

<body>
    <div class="warp">
        <!------------------	Header ------------------------------>
        <div class="header">
            <img src="/img/buttons/09.png" class="header_left_pic">
            @*<img src="/img/title/03.png" class="pagetitle">*@
            <span>我的收藏</span>
            <img src="/img/buttons/01.png" class="header_right_pic">
            <div id="clear"></div>
        </div>
        <div id="blank"></div><!--Blank area -->
        <!----------------------	Header End 	-------------------->          
        <!-----------product list----------------------->
        <div id="collect">
            @foreach (ShangPin item in Model)
            {
                <div class="collect_box">
                    <a href="/watch/yitao/ShangpinDetail/@item.ShangPinId"><img class="box_left" src="@item.ImageUrl" alt="" width="392" height="393" /></a>
                    <span>￥@item.Price</span>
                </div>
            }
        </div>
        <!-----------product list End------------------->
    </div>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
</body>
</html>
