@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    @using YiTao.Modules.Bll.Models
    @model List<ShangPin>
    <meta charset="utf-8">
    <title>商品列表</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="~/css/common.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="~/style/unify.css" rel="stylesheet" />
    <link type="text/css" href="~/style/user-base.css" rel="stylesheet" />
    <script type="text/ecmascript" src="~/js/index.js"></script>
</head>

<body>
   <div id="warp">

        <div id="top">
            <div class="top_title">我的收藏</div>
            <a class="top_return" type="button" href="javascript:history.go(-1)" />
            <a class="top_search" href="/Watch/Yitao/Search"><img src="/img/search_02.png" /></a>
        </div>
        <!----------------------	Header End 	-------------------->          
        <!-----------product list----------------------->
        <div id="collect">
            @foreach (ShangPin item in Model)
            {
                <div class="collect_box">
                    <a href="/watch/yitao/ShangpinDetail/@item.ShangPinId"><img class="box_left" src="@item.ImageUrl" alt="" width="392" height="393" /></a>
                    <span>￥@item.Price</span>
                </div>
            }
        </div>
        <!-----------product list End------------------->
    </div>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
</body>
</html>
