@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    @model YiTao.Modules.Bll.Models.Account
    <meta charset="utf-8">
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="/css/common.css" rel="stylesheet">

</head>
<body>
    <div class="warp">
        <!------------------	Header ------------------------------>
        <div class="header">
            @*<span class="header_left_span">设置</span>*@         
            <div id="clear"></div>
            <span class="pagetitle" style="top:0;line-height:50px;">个人中心</span>
        </div>
        <div id="blank" style="height:50px"></div>
        <div id="personal">
            <!--个人中心-->
            <div class="msg">
                <!--个人信息-->
                <p style="display:inline-block;" class="msg_name">@Model.Name</p>
                <p class="msg_integral">我的积分：<i>@Model.JiFen</i></p>
            </div><!--个人信息结束-->
            <div class="service">
                <a href="http://h5.m.taobao.com/fav/index.htm?spm=0.0.0.0&sprefer=p23590#!goods/queryColGood-1" name="name_msg" class="service_left">
                    <img src="/img/buttons/service04.png" alt="" />
                    <span>我的收藏</span>
                </a>
                <a href="/watch/personInfor/Prizes/@Model.AccountId" name="name_msg" class="service_right">
                    <img src="/img/buttons/service3.png" alt="" />
                    <span>我的奖品</span>
                </a>
                <a href="/watch/personInfor/JiFenHistory?userId=@Model.AccountId" name="name_msg" class="service_left">
                    <img src="/img/buttons/service01.png" alt="" />
                    <span>积分记录</span>
                </a>
                <a href="http://h5.m.taobao.com/awp/mtb/mtb.htm?spm=0.0.0.0&sprefer=p23590#!/awp/mtb/olist.htm?sta=4" name="name_msg" class="service_right">
                    <img src="/img/buttons/service02.png" alt="" />
                    <span>我的订单</span>
                </a>
                <a href="/watch/vote/votedetail" name="name_msg" class="service_left">
                    <img src="/img/buttons/service01.png" alt="" />
                    <span>投票</span>
                </a>
                <a href="/watch/PersonInfor/LiuYanDetail" name="name_msg" class="service_right">
                    <img src="/img/buttons/service02.png" alt="" />
                    <span>留言</span>
                </a>
            </div>
            @{
                if (ViewBag.whetherQiandao == "0")
                {
                    <div class="sign" id="Qiandao">
                        <!--签到-->
                        <a href="/watch/personInfor/qiandao" name="name_sign" class="sign_bg">
                            <img src="/img/buttons/sign01.png" width="152" height="153" alt="" />
                            <span>签到</span>
                        </a>
                    </div>
                }
                else
                {
                    <div class="sign">
                        <div class="sign_bg01">
                            <img name="neme_sign" src="/img/buttons/sign02.png" width="152" height="153" alt="" />
                            <span>今日已签</span>
                        </div>
                    </div>
                }
            }
            <div class="login-eixt sign" id="Qiandao">
                <a href="/watch/PersonInfor/Info" name="name_sign" class="sign_bg">
                    <img src="/img/buttons/sign01.png" width="152" height="153" alt="" />
                    <span>管理</span>
                </a>
            </div>

            <div class="login-eixt sign" id="Qiandao" >
                <!--注销-->
                <a href="/watch/auth/logout" name="name_sign" class="sign_bg">
                    <img src="/img/buttons/sign01.png" width="152" height="153" alt="" />
                    <span >注销</span>
                </a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
</body>
</html>
