@{
    ViewBag.Title = "LiuYanIndex";
    Layout = null;
}
@using Webdiyer.WebControls.Mvc
@using YiTao.Modules.Bll.Models;
@model PagedList<YiTao.Modules.Bll.Models.LiuYan>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>亿淘app</title>
    <link rel="stylesheet" type="text/css" href="~/css/unify.css" />
    <link rel="stylesheet" type="text/css" href="~/css/user-base.css" />
    <link href="/css/common.css" rel="stylesheet" />
</head>

<body>
    <div id="warp">
        @*<div class="header">
            <a href="javascript:history.go(-1)">
                <img src="/img/buttons/09.png" class="header_left_pic" />
            </a>
            <div id="clear"></div>
            <span class="pagetitle">留言</span> 
        </div>*@
        <div id="top">
            <div class="top_title">留言</div>
            <a class="top_return" type="button" href="javascript:history.go(-1)" />
            <a class="top_search" href="/Watch/Yitao/Search"><img src="/img/search_02.png" /></a>
        </div>
        <div id="blank"></div>
        @if (Model == null || Model.Count == 0)
        {
            <p class="content_null">当前无留言</p>    
        }
        else
        {
            <div class="message">
                @foreach (var item in Model)
                {
                    <div class="message_box">                       
                        <div class="box_con">
                            <a href="/Watch/PersonInfor/LiuYanDetail?LiuYanId=@item.LiuYanId">@item.Title</a>      
                        </div>
                    </div>
                }
            </div>
            <div style="text-align:center; margin-left:-2em;">
                @Html.Pager(Model, new PagerOptions
                 {
                     HorizontalAlign = "center",
                     ShowFirstLast = false,
                     CssClass = "pagination pagination-sm",
                     NavigationPagerItemWrapperFormatString = "<li>{0}</li>",
                     ContainerTagName = "ul",
                     PageIndexParameterName = "id",
                     ShowPageIndexBox = false,
                     PrevPageText = "<<",
                     NumericPagerItemCount = 3,
                     Id = "pages",
                     NextPageText = ">>",
                     CurrentPagerItemWrapperFormatString = "<li class=\"active\"> <a>{0}</a> </li>",
                     NumericPagerItemWrapperFormatString = "<li> {0}</li>",
                 }, new { style = "margin-top:2em;margin-bottom:2em" })
            </div>
        }
    </div>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <style>
        .content_null {
            text-align: center;
            margin-top: 100px;
            font-size: 20px;
            font-family: '微软雅黑';
            color:#0094ff;
        }
    </style>
</body>
</html>
