@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    @using YiTao.Web.Areas.Watch.Models
    @model List<JiangpinDetail>
    <meta charset="utf-8">
    <title>中奖信息列表</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="/css/common.css" rel="stylesheet">
    <link type="text/css" href="~/style/unify.css" rel="stylesheet" />
    <link type="text/css" href="~/style/user-base.css" rel="stylesheet" />
    <script type="text/ecmascript" src="~/js/index.js"></script>
</head>

<body>
   <div id="warp">
        <!------------------	Header ------------------------------>
        @*<div class="header">
            <a href="/watch/personinfor/index"><img src="/img/buttons/09.png" class="header_left_pic"></a>
                     
            <div id="clear"></div>
            <span  class="pagetitle">中奖历史</span>   
        </div>*@
        <div id="top">
            <div class="top_title">中奖历史</div>
            <a class="top_return" type="button" href="javascript:history.go(-1)" />
            <a class="top_search" href="/Watch/Yitao/Search"><img src="/img/search_02.png" /></a>
        </div>   
        <!-----------product list----------------------->
        <div class="product_list">
            @foreach (JiangpinDetail item in Model)
            {
                <div class="list_box">                    
                    <a href="#"><img class="box_left" src="@item.ImageUrl" alt="" /></a>
                    <ul class="box_right">
                        <li>
                            <a href="#" class="title" style="font-size:12px;">@item.Name</a>
                        </li> 
                        <li name="name_font" class="font">
                            <span><i>@item.CreateTime</i></span>
                            <div class="right_font">
                            </div>
                        </li>
                    </ul>
                </div>
            }
        </div>
        <!-----------product list End------------------->
    </div>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    </body>
</html>
