@{
    Layout = null;
}
<div class="sign">
    <div class="sign_bg01">
        <img name="neme_sign" src="/img/buttons/sign02.png" width="152" height="153" alt="" />
        <span>今日已签</span>
    </div>
</div>
