
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/styleyanjing.css" rel="stylesheet" />
</head>
<body>
    <div style="width:100%;">
        <div class="logo" style="width:100%;">
            <img src="~/img/ic_launcher.png" class="img-rounded" />
        </div>
        
        <div class="middle">
            <a class="btn btn-info" href="~/file/Yitao.apk">
                下载Android版
            </a>
        </div>
        <div class="middle">
            <a class="btn btn-info" href="#">
                下载 IOS 版
            </a>
        </div>
    </div>
</body>
</html>