@model YiTao.Modules.Bll.Models.Account
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>个人信息</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="~/css/common.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div class="warp">
        <!------------------	Header ------------------------------>
        <div class="header">
            <h2 class="pagetitle" style="margin-top:0.2em;">更改密码</h2>
            @*<img src="/img/title/08.png" class="pagetitle">*@
            <div id="clear"></div>
        </div>
        <div id="blank" style="height:50px;"></div><!--Blank area -->
        <br />
        <div class="container">
            <div class="row">
                <div class="col-xs-5">
                    <h4><code><strong id="errorInfor">填写新的密码</strong></code></h4>
                </div>
            </div>
            <div class="row">
                <form role="form" action="~/Home/PasswordOk" onsubmit="return CherkAddress()">
                    <div class="form-group">
                        <input type="text" name="name" value="@Model.Name" hidden />
                        <label for="exampleInputPassword1">新密码</label>
                        <input type="password" class="form-control" name="password" id="ConsigneeName" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">确认密码</label>
                        <input type="password" class="form-control" name="newpassword" id="Address" placeholder="">
                        @Html.ValidationMessage("error", new { @class = "help-block" })
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg btn-block">提交</button>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/js/jquery.js"></script>
    <script type="text/javascript" src="~/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="~/js/common.js"></script>
    <style>
        .row {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    </style>
</body>
</html>
