<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>聚折扣</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="/css/common.css" rel="stylesheet">
</head>
@using YiTao.Modules.Bll.Models
<body>
    <div class="warp">        
        <!-----------	collect	End--------------------->
        <h1 class="title_h1">聚折扣</h1>
        <!-----------product list----------------------->
        <div class="product_list">
            @Html.Action("Juzekou")
        </div>
        <!-----------product list End------------------->
    </div>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
</body>
</html>
