@model YiTao.Modules.Bll.Models.TuiSong
@{
    ViewBag.Title = "Detial";
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            推送管理 <small>详细</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/Management/MainPage/Lunbo">主页</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="/Management/Tuisong/">推送管理</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li><a href="#">详细</a></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8"><h3>@Model.Title</h3></div>
</div>
<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 alert alert-info"><span>@Html.Raw(Model.TuiSongContent)</span></div>
</div> 
