<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu">
        <li>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler hidden-phone"></div>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <li id="index" class="open">
            <a href="javascript:;">
                <i class="fa fa-home"></i>
                <span class="title">主页设置</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li><a href="~/Management/MainPage/Lunbo">轮播图片</a></li>            
                <li><a href="~/Management/MainPage/MeiRiShiJianCover">每日十件</a></li>
                <li><a href="~/Management/MainPage/ZhuanTi1Cover">专题1</a></li>
                <li><a href="~/Management/MainPage/ZhuanTi2Cover">专题2</a></li>
                <li><a href="~/Management/MainPage/ZhuanTi3Cover">专题3</a></li>
                <li><a href="~/Management/MainPage/HaoDian">好店管理</a></li>
                <li><a href="~/Management/MainPage/JuZheKouItem">聚折扣管理</a></li>
                <li><a href="~/Management/MainPage/OtherUrl">主页其余链接管理</a></li>
            </ul>
        </li>
        <li id="goodSet">
            <a href="javascript:;">
                <i class="fa fa-briefcase"></i>
                <span class="title">商品设置</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li><a href="~/Management/Shangpin/DaLei">普通商品设置</a></li>
                <li><a href="~/Management/Shangpin/DuiHuanShangPin">积分兑换商品设置</a></li>
                <li><a href="~/Management/Shangpin/ChouJiangShangPin">积分抽奖商品设置</a></li>
            </ul>
        </li>
        <li id="userManage">
            <a href="javascript:;">
                <i class="fa fa-briefcase"></i>
                <span class="title">会员管理</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li><a href="~/Management/Account/CommonManage">会员基本信息管理</a></li>
                <li>
                    <a href="javascript:;">
                        积分信息管理
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="~/Management/Account/JiFenManage">会员积分管理</a></li>
                        <li><a href="~/Management/Account/JiFenLiShi">积分历史管理</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li id="JiangpinDeal">
            <a href="javascript:;">
                <i class="fa fa-briefcase"></i>
                <span class="title">中奖与兑换处理</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li id="JiangpinDeal_1">
                    <a href="javascript:;">
                        中奖处理
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="~/Management/JiangpinDeal/ZhongjiangList">待处理</a></li>
                        <li><a href="~/Management/JiangpinDeal/ZhongjiangDealedList">已处理</a></li>
                    </ul>
                </li>
                <li id="JiangpinDeal_2">
                    <a href="javascript:;">
                        兑换处理
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="~/Management/JiangpinDeal/DuihuanList">待处理</a></li>
                        <li><a href="~/Management/JiangpinDeal/DuihuanDealedList">已处理</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="~/Management/AppWelcome/Index">
                <i class="fa fa-gift"></i>
                <span class="title">App欢迎界面设置</span>
            </a>
        </li>
        <li>
            <a href="~/Management/LiuYan/Index">
                <i class="fa fa-gift"></i>
                <span class="title">留言管理</span>
            </a>
        </li>
        <li class="last">
            <a href="~/Management/Auth/Manage">
                <i class="fa fa-gift"></i>
                <span class="title">管理员管理</span>
            </a>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>