@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>个人信息</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="~/css/common.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="~/style/unify.css" rel="stylesheet" />
    <link type="text/css" href="~/style/user-base.css" rel="stylesheet" />
    <script type="text/ecmascript" src="~/js/index.js"></script>
</head>

<body>
   <div id="warp">

        <div id="top">
            <div class="top_title">用户地址</div>
            <a class="top_return" type="button" href="javascript:history.go(-1)" />
            <a class="top_search" href="#"><img src="/img/search_02.png" /></a>
        </div>

        <br />
        <div class="container">
            <div class="row">
                抽奖之前必须创建收奖品地址
            </div>
            <div class="row">
                <form role="form" action="SetAddress">
                    <div class="form-group">
                        <label for="exampleInputPassword1">收件人</label>
                        <input type="text" class="form-control" name="ConsigneeName" id="exampleInputPassword1" placeholder="">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">收货地址</label>
                        <input type="text" class="form-control" name="Address" id="exampleInputEmail1" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">联系电话</label>
                        <input type="text" class="form-control" name="Phone" id="exampleInputPassword1" placeholder="">
                        @Html.ValidationMessage("error", new { @class = "help-block" })
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg btn-block">创建地址</button>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/js/jquery.js"></script>
    <script type="text/javascript" src="~/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="~/js/common.js"></script>
</body>
</html>
