@model IEnumerable<YiTao.Modules.Bll.Models.VoteItem>
@{
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-edit"></i>投票详情</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>
            <div class="portlet-body">
                <h3>"@ViewBag.TopicName" 投票详情</h3> 
                <table class="table table-bordered table-hover" id="sample_1">
                    <thead>
                        <tr>
                            <th class="col-md-1">图片</th>
                            <th class="col-md-6">选项名</th>
                            <th class="col-md-5">投票数量/总数量</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>
                                    <img src="@item.ImgURL" />
                                </th>
                                <th>@item.ItemName</th>
                                <th>@item.Count/@ViewBag.TotleVote</th>
                            </tr>
                        }
                    </thead>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<style>
    table img {
        height:50px;
        width:50px;
    }
</style>
@section PageSpecificJavascriptIncludes{
<script>
    $("#index").removeClass("open");
    $("#Vote").addClass("open");
</script>
    }
