@model YiTao.Modules.Bll.Models.Account
@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>亿淘app</title>
    <link type="text/css" href="~/style/unify.css" rel="stylesheet" />
    <link type="text/css" href="~/style/user-base.css" rel="stylesheet" />
</head>

<body>
    <div id="warp">
        <div id="search">
            <form action="register" method="post">
                <input name="Phone" class="log_button01" type="text" value="手机号码" onclick="this.value='';focus()" onblur="if(!value) {value=defaultValue; this.type='text';}" />
                <input name="Email" class="log_button01" type="text" value="email" onclick="this.value='';focus()" onblur="if(!value) {value=defaultValue; this.type='text';}" />
                <input name="name" class="log_button01" type="text" value="用户名" onclick="this.value='';focus()" onblur="if(!value) {value=defaultValue; this.type='text';}" />
                <input name="password" class="log_button01" type="text" value="密码" onfocus="if(this.value==defaultValue) {this.value='';this.type='password'}" onblur="if(!value) {value=defaultValue; this.type='text';}" />
                <input name="password_2" class="log_button01" type="text" value="确认密码" onfocus="if(this.value==defaultValue) {this.value='';this.type='password'}" onblur="if(!value) {value=defaultValue; this.type='text';}" />
                <div class="contract"><input class="box" type="checkbox" value="" /><div class="box_text">我已阅读并同意亿淘商城<a href="#">注册协议</a></div></div>
                <input class="log_button02" type="submit" value="注册" />
            </form>

        </div>
    </div>
</body>
</html>
