@model YiTao.Modules.Bll.Models.Account
@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>亿淘app</title>
    <link type="text/css" href="~/style/unify.css" rel="stylesheet" />
    <link type="text/css" href="~/style/user-base.css" rel="stylesheet" />
</head>

<body>
    <div id="warp">
        <div id="search">
            <form action="register" method="post" onsubmit="return formCheck()">
                <input id="Phone" name="Phone" class="log_button01" type="text" placeholder="手机号码" />
                <input id="Email" name="Email" class="log_button01" type="text" placeholder="邮箱" />
                <input id="Name" name="name" class="log_button01" type="text" placeholder="用户名" />
                <input id="Password" name="password" class="log_button01" type="password" placeholder="密码" />
                <input id="Password_2" name="password_2" class="log_button01" type="password" placeholder="确认密码" />
                <span id="errorInfor" style="color:#ff0000;font-family:微软雅黑;"></span>
                <div class="contract">
                    <input style="zoom:200%" id="agreeProtocol" @*class="box"*@ type="checkbox" checked="checked" value="" />
                    <div class="box_text">我已阅读并同意亿淘商城<a href="#">注册协议</a></div>
                </div>
                <input class="log_button02" type="submit" value="注册" />
            </form>
            <script src="/js/jquery-1.9.0.min.js"></script>
            <script>
                function formCheck() {
                    var regBox = {
                        regEmail: /^([a-z0-9_\.-]+)@@([\da-z\.-]+)\.([a-z\.]{2,6})$/,
                        regMobile: /^0?1[3|4|5|8][0-9]\d{8}$/,  //手机
                        regTel: /^0[\d]{2,3}-[\d]{7,8}$/
                    }
                    var phone = document.getElementById("Phone").value;
                    var name = $("#Name").val();
                    var email = $("#Email").val();
                    var pw1 = $("#Password").val();
                    var pw2 = $("#Password_2").val();
                    var mflag = regBox.regMobile.test(phone);
                    var tflag = regBox.regTel.test(phone);
                    if (!(mflag || tflag)) {
                        $("#errorInfor").html("手机或电话格式有误");
                        return false;
                    }
                    else if (!regBox.regEmail.test(email)) {
                        $("#errorInfor").html("邮箱格式不正确");
                        return false;
                    }
                    else if (name == '用户名') {
                        $("#errorInfor").html("用户名不能为空");
                        return false;
                    }
                    else if (pw1 != pw2) {
                        $("#errorInfor").html("两次密码不一致");
                        return false;
                    }
                    else if (!(document.getElementById("agreeProtocol").checked)) {
                        $("#errorInfor").html("同意注册协议还未勾选");
                        return false;
                    }
                    else {
                        return true;
                    }
                }
            </script>
        </div>
    </div>
</body>
</html>
